* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: #414141; /*this sign is for comments */

  background-color: #eeeeee; /* light grey */
}

nav {
  background-color: #6610f2;
  
}

/* target all ul under nav*/
nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 700px;
  margin: 0 0 auto 10px;
}

nav li {
  list-style-type: none;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a:link,
nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover,
nav a:visited:hover,
nav a:active,
nav a:visited:active {
  color: #dfdede;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 10px;
}

.profile {
  border: 1px solid #d6d9dc;
  margin: 40px 40px;
  padding: 0 40px;
}

.profile ul {
  padding-bottom: 10px;
}

.top {
  text-align: right;
}

.top a:link,
.top a:visited,
.top a:active,
.top a:visited:active {
  color: #54a5c4;
  text-decoration: none;
}

.top a:hover,
.top a:visited:hover {
  color: #fff;
  background-color: #04aa6d;
  padding: 0 10px 0 10px;
  text-decoration: none;
}

header {
  text-align: center;
  color: #fff;
}

.name {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #0d6efd;
}

.name h1 {
  font-size: 30px;
  text-align: left;
  margin-left: 75px;
}

.work {
  margin: 10px 40px 10px 400px;
  padding: 0 0;
}

.work h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.work h3 {
  padding-left: 5px;
}

.ey,
.hz,
.sz {
  background-color: #bdbebe;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ey ul,
.mtl ul,
.hz ul,
.sa ul,
.sz ul {
  margin: 10px 40px;
}

.education {
  margin: 10px 40px 10px 300px;
  padding: 0 0;
}

.contact {
  margin: 10px 40px 10px 300px;
  padding: 0 0;
}

h3 {
  font-size: 16px;
}

ul {
  list-style-type: disc;
  color: #38383a;
}

ol {
  list-style-type: lower-roman;
}

.side {
  position: relative;
  float: left;
  border: 2px solid #d6d9dc;
  text-align: justify;
  background-color: #eeeeee;
  margin: 10px 40px 10px 40px;
  max-width: 240px;
  box-sizing: border-box;
  padding-left: 10px;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.period {
  font-size: .8rem;
  float: none;
  font-weight: bold;
  margin-top: 4px;
  color: #6c757d;
  opacity: .8
}

body {
  background-color: rgb(20, 23, 26);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cards {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  list-style: none;
  transform: translateY(-50%) translateX(-50%);
}

.cards li {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 200px;
  height: 120px;
  transition-duration: .5s;
  overflow: hidden;
  cursor: pointer;
}

.cards li .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}

.cards li:hover {
  transition-delay: .3s;
  width: 300px;
  height: 180px;
}