@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Kanit:ital,wght@0,300;1,300&display=swap');

body {
  background-color: #f4f1ec;
  font-family: "Kanit", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header {
  padding: 20px 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F1EC;
  color: #1D3234;
  font-size: 25px;
}
.header .name {
  font-weight: 500;
  color: #1D3234;
}
.header .content {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 50px;
  }

.header a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1D3234;
  font-size: 21px;
}
.header .experience {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1D3234;
  font-size: 21px;
  font-weight: bold; /* Set your font weight */
  background-color: #B7E1E4;
  border-radius: 10px;
  width: 180px;
  height: 50px;
}
.header a:hover {
  font-style: italic;
  background-color: #93b5b8;
  border-radius: 10px;
  width: 180px; /* Set your desired width */
  height: 50px; /* Set your desired height */
}

.punchline {
  background: #1d3234;
  color: #f4f1ec;
  height: 400px;
  padding: 150px 300px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  background-repeat: no-repeat;
}
.punchline .navigation {
  background-color: #f4f1ec;
  border-radius: 10px;
  width: 200px;
  padding: 1px 0;
  color: #1d3234;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  left: 1250px;
  bottom: 240px;
}

nav a:link,
nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover,
nav a:visited:hover,
nav a:active,
nav a:visited:active {
  color: #dfdede;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 10px;
}

.profile {
  border: 1px solid #d6d9dc;
  margin: 40px 40px;
  padding: 0 40px;
}

.profile ul {
  padding-bottom: 10px;
}

.top {
  text-align: right;
}

.top a:link,
.top a:visited,
.top a:active,
.top a:visited:active {
  color: #54a5c4;
  text-decoration: none;
}

.top a:hover,
.top a:visited:hover {
  color: #fff;
  background-color: #04aa6d;
  padding: 0 10px 0 10px;
  text-decoration: none;
}

.header {
  text-align: center;
  color: #fff;
}



.work {
  margin: 30px 300px 30px 300px;
  padding: 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -100px;
}

.work h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.work h3 {
  text-align: center;
  margin-bottom: 10px;
}

.work h4 {
  text-align: center;
  color: grey;
  font-size: 12px;
}

.ey,
.mtl,
.hz,
.sa,
.sz {
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 15px;
  width:400px;  
}

.collapsible {
  color: #1d3234;
  background-color: #fff;
  position: relative;
  top: 30px;
  border-radius: 15px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  font-weight: bold;
  color: #1d3234;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
}

.details {
  padding: 20px 18px;
  display: none;
  overflow: hidden;
  background-color: #fff;
}

.ey ul,
.mtl ul,
.hz ul,
.sa ul,
.sz ul {
  margin: 10px 30px;
} 

.education {
  margin: 10px 40px 10px 300px;
  padding: 0 0;
}

.contact {
  margin: 10px 40px 10px 300px;
  padding: 0 0;
}

h3 {
  font-size: 16px;
}

ul {
  list-style-type: disc;
  color: #38383a;
}

ol {
  list-style-type: lower-roman;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.period {
  font-size: 0.8rem;
  float: none;
  font-weight: bold;
  margin-top: 4px;
  color: #6c757d;
  opacity: 0.8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cards {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  list-style: none;
  transform: translateY(-50%) translateX(-50%);
}

.cards li {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 200px;
  height: 120px;
  transition-duration: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.cards li .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}

.cards li:hover {
  transition-delay: 0.3s;
  width: 300px;
  height: 180px;
}
